@import 'src/index.scss';

.project {
    &:nth-child(odd) {
        .project__cell:first-child {
            @media screen and (min-width: $sm) {
                order: 2;
            }
        }
        .project__cell:last-child {
            order: 1;
        }
    }

    .project__container {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $sm) {
            flex-direction: row;
        }
    }

    .project__cell {
        width: 100%;
        margin: 5% 0;
        overflow: hidden;

        @media screen and (min-width: $sm) {
            max-width: 50%;
        }

        &--text {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }
}

.tile {
    height: 250px;
    transition: all 0.2s ease;
    &:hover {
        transform: scale(1.1);
    }
}
