* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Jura', Arial, sans-serif;
    font-weight: 300;
    font-size: $font-size-4;
    margin: 0;
    padding: 0;
    color: $color-text;
}

img {
    max-width: 100%;
}

.wrapper {
    padding-top: $nav-height;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 5%;
}

.grid {
    display: grid;
    grid-gap: 10px;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
