// Typography settings
$font-size-4: 4em;
$font-size-3: 3em;
$font-size-2: 2em;
$font-size-1: 1em;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', Helvetica, cursive, sans-serif;
    font-weight: 300;
    margin-bottom: 0.3em;

    &.strong {
        font-weight: 500;
    }
}

* > strong,
strong {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;

    &:active,
    &:visited,
    &:focus {
        color: currentcolor;
    }
}
