@import 'src/index.scss';

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: $nav-height;
    background-color: $color-white;
    z-index: 99;
    transition: height 0.3s ease;
    color: $color-black70;

    @media screen and (max-width: $sm) {
        &.open {
            height: 100vh;

            nav {
                visibility: visible;
            }
        }
    }

    .container {
        height: 100%;
    }
}

.navbar__brand {
    position: absolute;
    display: block;
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

.navbar__toggle {
    position: absolute;
    display: block;
    right: 7%;
    top: 35px;
    width: 30px;
    height: 8px;
    overflow: hidden;

    transition: all 0.2s ease;
    cursor: pointer;
    z-index: 99;

    &:after,
    &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 80px;
        height: 2px;
        background-color: $color-red;
        background: linear-gradient(
            90deg,
            $color-red 0,
            $color-red 33.33%,
            transparent 0,
            transparent 66.66%,
            $color-red 0,
            $color-red
        );
        background-size: 300%;
        background-position: 100%;
        transition: background-position 1s ease;
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
        transition-delay: 0.2s;
    }

    &:hover {
        &:before,
        &:after {
            background-position: 0;
        }
    }

    @media screen and (min-width: $sm) {
        display: none;
    }
}

nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: right;
    visibility: hidden;

    @media screen and (min-width: $sm) {
        visibility: visible;
    }

    a {
        display: block;
        padding: 1rem;
        font-size: $font-size-3;

        &:active,
        &:visited,
        &:focus {
            color: $color-black70;
        }

        @media screen and (min-width: $sm) {
            padding: 0 1rem;
            font-size: 1em;
            display: inline-block;
        }
    }
}
